<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tutoring Center</title>
  <link href="stylesheets/bootstrap.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/tutor.js"></script>
  <%= javascript_tag "application" %>
  <%= stylesheet_tag "application", media: "all" %>
  
  <%= erb :_splashPage %>
  <%= erb :_coursePageTemplate %>

  
</head>

<body>
  <%= erb :_navigation %>
  
  <!--main-->
  <div id="content-changer">
    
    
  </div> <!-- end of content-changer id -->
  
  
  
</body>

</html>